:root {
    --RC: "Roboto Condensed", cursive;
    /*Classy header*/
    --R: "Roboto", cursive;
    /*Text writing hard marks*/
    --HM: "Hind Madurai", cursive;
    /*Ubuntu but classy*/
    --goldBright: linear-gradient(90deg, #FFF48B, #C0A562);
    --goldSubtle: linear-gradient(90deg, #E4C27A, #C2A569);
    --dark: #26252B;
    --grey: #3F3C46;
    --goldText: #C2A569;
    --goldTextBright: rgb(231, 201, 140);


}

* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    margin: 0;
    background-color: var(--dark);

}



/* Header  ----  ----  ----  ----  ----  ----  */

header {
  min-height: 50vh;
}

/* .banner {
  position: relative;
  margin-top: 15vh;
  padding-top: 30px;
  width: 100%;
  height: 370px;
  background-color: var(--grey);
  border-top: 3px solid var(--goldText);
  border-bottom: 3px solid var(--goldText);
} */

.banner {
  position: absolute;
  top: 80px;
  margin-top: 120px;
  padding-top: 30px;
  width: 100%;
  height: 370px;
  background-color: var(--grey);
  border-top: 3px solid var(--goldText);
  border-bottom: 3px solid var(--goldText);
}

.circle {
  margin: auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: var(--goldSubtle);
}

#profile {
  margin: 3%;
  width: 94%;
  border-radius: 50%;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: var(--RC);
  font-size: 60px;
  text-align: center;
  background: -webkit-linear-gradient(#FFF48B, #C0A562);
  background: -moz-linear-gradient(#FFF48B, #C0A562);
  background: linear-gradient(#FFF48B, #C0A562);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: var(--RC);
  font-size: 40px;
  text-align: center;
  background: -webkit-linear-gradient(#FFF48B, #C0A562);
  background: linear-gradient(#FFF48B, #C0A562);
  background: -moz-linear-gradient(#FFF48B, #C0A562);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.intro {
  position: relative;
  margin: auto;
  width: 70%;
  margin-top: 80px;
  margin-bottom: 80px;
  display:flex;
  justify-content: center;
  list-style: none;
  margin-top: 750px;
}

.intro h2 {
  text-align: left;
}

p {
  color: var(--goldText);
  font-size: 20px;
  font-family: var(--R);
  margin-right: 40px;

}

.about {
  /* margin-top: -100px; */
}

.rowFlex {
  width: 180px;
  display:flex;
  flex-direction: column;
}

.contact {
  margin-top: -3px;
  padding: 3px;
  font-family: var(--R);
  font-size: 20px;
}

a {
  text-decoration: none;
  background: -webkit-linear-gradient(#FFF48B, #C0A562);
  background: linear-gradient(#FFF48B, #C0A562);
  background: -moz-linear-gradient(#FFF48B, #C0A562);
  -webkit-background-clip: text;
  -webkit-text-fill-color: var(--goldText);
  background-clip: text;
}

a:visited, a:link {
  -webkit-text-fill-color: var(--goldText);
}

a:hover {
  background:white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: white;
  background-clip: text;
}

.contact i {
  padding-top: 15px;
  padding-right: 15px;
  font-size: 30px;
  max-width: 40px;
}


/* Section 1  ----  ----  ----  ----  ----  ----  */

.headline {
  position: relative;
  display: block;
  text-align: center;
  justify-content: center;
  padding-top: 30px;
  width: 100%;
  height: 200px;
  background-color: var(--grey);
  border-top: 3px solid var(--goldText);
  border-bottom: 3px solid var(--goldText);
}

.sec1 {
  display: flex;
  flex-direction: row-reverse;
  /* min-height: 90vh; */
  margin-top: 100px;
  margin-bottom: 80px;
}

.sideLeft {
  width: 50%;
  display: flex;
  justify-content: center;
}

.sideRight {
  width: 50%;
  display: flex;
  justify-content: center;
}

.infoBox {
  width: 90%;

  /* background-color: var(--grey); */
  /* border-radius: 50px; */
}

.infoBox a:hover {
  background:white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: white;
  background-clip: text;
}

#section2 {
  min-height: 90vh;
}

/* Tabs  ----  ----  ----  ----  ----  ----  */

.taber {
  display: flex;
  margin-right: 50px;
  border-radius: 20px;
  justify-content: space-between;
  position: relative;
  font-family: var(--R);
  font-size: 20px;
  position: relative;
}


@keyframes shockwave {
  from {
    opacity: 1;
    transform: scale(0);
  }
  to {
    opacity: 0;
    transform: scale(10);
  }
}

.tab {
  position: absolute;
  overflow: visible;
  top: 50%;
  transform: translateY(185%);
  margin: -75px 50px;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
  width: 75px;
  height: 75px;
  font-size: 20px;
  font-family: var(--RC);
  background-color: var(--dark);
  border: 2px solid var(--goldText);
  border-radius: 20px;
  color: var(--goldText);

  /* -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  */
  overflow: hidden;
  text-decoration: none;
  transition: .3s ease;
}

.tab span {
  position: absolute;
  border-radius: 50%;
  /* background-color: rgba(255, 255, 255, 0.3); */
  background-color: #fff;
  color: #fff;
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  animation: shockwave 1s;
  opacity: 0;
}

.taber button:hover,
.taber button.active {
  color: #fff;
  border-color: #fff;
  transition: .3s ease;
}
/*
color: var(--dark);
background: var(--goldBright);
*/
.btnGoTo {
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
  min-width: 100px;
  font-size: 20px;
  font-family: var(--HM);
  border-radius: 8px;
  background: -webkit-linear-gradient(#FFF48B, #C0A562);
  background: -moz-linear-gradient(#FFF48B, #C0A562);
  background: linear-gradient(#FFF48B, #C0A562);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* background-color: var(--goldText); */

  position: relative;
  overflow: hidden;
  text-decoration: none;
  font-weight: bold;
}

.btnGoTo i {
  font-size: 30px;
  vertical-align: middle;
  padding-bottom: 3px;
  padding-right: 10px;
}

.btnGoTo:hover {
  background:white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.FCC {
  width: 90%;
  max-width: 700px;
}

.FCC a:nth-child(2) {
  position: relative;
  top: 5%;
  left: 0%;
}

.FCC a:nth-child(3) {
  position: relative;
  top: -5%;
  left: 20%;
}

.FCC a:nth-child(4) {
  position: relative;
  top: -15%;
  left: 40%;
}

.sideLeft img {
  width: 60%;
}

/* Footer  ----  ----  ----  ----  ----  ----  */

footer {
  position: relative;
  height: 100px;
  background-color: var(--grey);
  border-top: 3px solid var(--goldText);
  width: 100%;
}

footer h2 {
  margin-top: 20px;
  font-family: var(--RC);
  font-size: 30px;
  text-align: center;
  background: -webkit-linear-gradient(#FFF48B, #C0A562);
  background: -moz-linear-gradient(#FFF48B, #C0A562);
  background: linear-gradient(#FFF48B, #C0A562);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

footer a {
  text-decoration: none;
}

footer h2 i {
  margin-left: 10px;
}

footer h2:hover {
  background:white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}


/* Waves  ----  ----  ----  ----  ----  ----  */

/*
.hero-image {
    background: url('./images/Color.svg') no-repeat;
    /* background-size: cover;
    width: 107%;
    height: 120%;
    top: -204px;
    left: -87px;
    position: absolute;
    z-index: -1;
    /* object-fit: contain;
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%, auto;
} */
/*
#goldWaves {
  background: url('./images/Waves.svg') no-repeat;
  width: 120%;
  height: 120%;
  position: absolute;
  top: 7%;
  left: -10%;
  z-index: -1;
  background-size: 110% 110%, auto;
  background-position: center center;
}
*/
#goldWaves {
  pointer-events: none;
  position: absolute;
  top: -35px;
  width: 100%;
  height: 1700px;
  z-index: -1;
}

/* #goldStripe {
  pointer-events: none;
  position: absolute;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  top: 100vh;
  width: 100%;
  height: 2000px;
  z-index: -1;
} */

#goldWaves2 {
  pointer-events: none;
  position: absolute;
  bottom: 70px;
  left: -10px;
  width: 102%;
  z-index: -1;
}

/* Other  ----  ----  ----  ----  ----  ----  */

.swiper-container {
  width: 100%;
  height: 100%
  /* height: 100vh; */
}

.video {
  width: 100%;
  min-height: 420px;
}

@media only screen and (max-width : 1050px) {

  p {
    font-size: 18px;
  }

  .intro {
    width: 90%;
  }

  #goldWaves {
    width: 150%;
  }

  #goldWaves2 {
    left: -20px;
    width: 250%;
  }

  #goldStripe {
    width: 150%;
    opacity: 0.3;
  }
}

@media only screen and (max-width : 700px) {

  .video {
    min-height: 320px;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 30px;
  }

  .intro {
    margin-top: 750px;
    flex-direction: column;
    align-items: center;
  }

  .contact {
    margin-top: 30px;
  }

  .intro h2 {
    text-align: center;
  }

  .sec1 {
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
  }

  .sideLeft {
    margin-top: 30px;
    width: 100%;
  }

  .sideRight {
    width: 100%;
  }

  #goldWaves, #goldWaves2 {
    width: 500%;
  }

  #goldStripe {
    width: 300%;
  }
}